<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Productos"}); %>
<body>
    
    <%- include('../partials/header'); %>

    <main class="product-main">
        
        <p class="section-title">LISTADO DE PRODUCTOS</p>
        <section class="featured-products">
            
            <% productsData.forEach(el => { %>    
                <% let {name, price, alt, image, id} = el %>
                <%- include('../partials/oneProduct', {name, price: toThousand(price), alt, image, id}) %>
            <% }); %>
        </section>
        
        <!-- Páginado -->
        <div class="pagination">
            <div class="info-pag">Página <%= currentPage + 1  %> de <%= totalPages %> |</div>
            <% for(let i = 0; i < totalPages; i++) { %> 
                <% if (currentPage == i) { %> 
                    <b class="page-number">
                        <%= i + 1  %>
                    </b>
                <% } else { %> 
                    <a href="/products?page=<%= i  %>">
                        <div class="page-number">
                            <%= i + 1  %>
                        </div>
                    </a>
                <% } %> 
            <% }; %>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>