<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Editar producto"}); %>
<script src="/js/validators/productEditValidation.js"></script>
<body class="adm-body">
    <%- include('../partials/header'); %>

    <main class="newProduct">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">EDITAR UN PRODUCTO</h2>
        <form class="session-form new-product-form" action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="editProduct">
            <div class="input-form">
                <label for="name">NOMBRE</label>
                <input type="text" name="name" id="productName" class="inputs" placeholder="Escriba el nombre del producto" value="<%= product.name %>">
                <span class="span-warning-msg"></span>
            </div>
            <div class="input-form">
                <label for="description">DESCRIPCIÓN</label>
                <textarea name="description" id="productDescription" class="inputs" placeholder="Realice una descripción del producto"><%= product.description %></textarea>
                <span class="span-warning-msg"></span>
            </div>
            <div class="two-cols">
                <div class="col">
                    <label for="category">CATEGORÍA</label>
                    <select name="category" class="btn-talle" id="productCategory">
                        <option value="" hidden>Seleccione</option>
                        <option value="1"<%= product.categoryId == "1"? "selected":"" %> >Remera</option> 
                        <option value="2" <%= product.categoryId == "2"? "selected":"" %>>Camisa</option> 
                        <option value="3"<%= product.categoryId == "3"? "selected":"" %>>Campera</option>
                        <option value="4"<%= product.categoryId == "4"? "selected":"" %>>Pantalón</option>
                        <option value="5"<%= product.categoryId == "5"? "selected":"" %>>Accesorio</option>
                    </select>    
                    <span class="span-warning-msg"></span>
                </div>
                
                <div class="col">
                    <label for="price">PRECIO</label>
                    <input type="number" name="price" id="productPrice" class="inputs" placeholder="Ingrese el precio del producto" value="<%= product.price %>" min="0">        
                    <span class="span-warning-msg"></span>
                </div>
            </div>

            <div class="two-cols title">
                <div>IMAGEN ACTUAL</div>
                <div>IMAGEN NUEVA</div>
            </div>
            <div class="two-cols edit-form-field">
                <div class="col old-image">
                    <div class="new-image-container-edit-form">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.alt %>">
                    </div>      
                </div>
                <div class="col new-image">
                    <div class="input-form">
                        <input type="file" name="image" id="productIMG" class="inputs">
                        <span class="span-warning-msg"></span>
                    </div>  
                </div>
            </div>

            <b class="aclaration-edit-form">*Si no selecciona una imagen nueva, se conservará la imagen actual.</b>

            <div class="input-form">
                <label for="stockS" class="title-table">STOCK</label>
                <table class="table-stocks">
                    <thead>
                        <tr>
                            <th>Talle</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>S</td>
                            <td class="size-stock-input"><input name="stockS" type="number" value="<%= product.sizes[0].products_sizes.stock%>" min="0" required></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td class="size-stock-input"><input name="stockM" type="number" value="<%= product.sizes[1].products_sizes.stock%>" min="0" required></td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td class="size-stock-input"><input name="stockL" type="number" value="<%= product.sizes[2].products_sizes.stock%>" min="0" required></td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td class="size-stock-input"><input name="stockXL" type="number" value="<%= product.sizes[3].products_sizes.stock%>" min="0" required></td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td class="size-stock-input"><input name="stockXXL" type="number" value="<%= product.sizes[4].products_sizes.stock%>" min="0" required></td>
                        </tr>
                    </tbody>

                </table>
            </div>


            <div class="btn">
                <button type="submit" class="btn-default">EDITAR PRODUCTO</button>
            </div>
        </form>

        <div class="btn">
            <button type="submit" class="btn-default red" onclick="toggleModal()">BORRAR PRODUCTO</button>
        </div>

        <div class="modal-naito">  
            <div class="close-icon-modal" onclick=toggleModal()>X</div>
            <div>
                <p style="color: black;">¿Estás seguro que quieres eliminar "<%= product.name %>"?</p>
            </div>
            <div class="field-modal">
                <div class="btn">
                    <button type="submit" class="btn-default" onclick="toggleModal()">Cancelar</button>
                </div>
                <form class="session-form new-product-form" action="/products/edit/<%= product.id %>?_method=DELETE" method="POST" style="margin: 0;">
                    <div class="btn">
                        <button type="submit" class="btn-default red">BORRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>