<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Editar producto"}); %>
<body class="adm-body">
    <%- include('../partials/header'); %>
    <main class="newProduct">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">EDITAR UN PRODUCTO</h2>
        <form class="session-form new-product-form" action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="input-form">
                <label for="name">NOMBRE</label>
                <input type="text" name="name" id="productName" class="inputs" placeholder="Escriba el nombre del producto" value="<%= product.name %> ">
            </div>
            <div class="input-form">
                <label for="description">DESCRIPCIÓN</label>
                <textarea name="description" id="productDescription" class="inputs" placeholder="Realice una descripción del producto"><%= product.description %> </textarea>
            </div>
            <div class="two-cols">
                <div class="col">
                    <label for="category">CATEGORÍA</label>
                    <select name="category" class="btn-talle">
                        <option value="" hidden>Seleccione</option>
                        <option value="t-shirts"<%= product.category == "t-shirts"? "selected":"" %> >Remera</option> 
                        <option value="shirts" <%= product.category == "shirts"? "selected":"" %>>Camisa</option> 
                        <option value="jackets"<%= product.category == "jackets"? "selected":"" %>>Campera</option>
                        <option value="pants"<%= product.category == "pants"? "selected":"" %>>Pantalón</option>
                        <option value="accesories"<%= product.category == "accesories"? "selected":"" %>>Accesorio</option>
                    </select>    
                </div>
                
                <div class="col">
                    <label for="size">TALLE</label>
                    <select name="size" class="btn-talle">
                            <option value="" hidden>Talle</option>
                            <option value="s"<%= product.size == "s"? "selected":"" %>>S</option> 
                            <option value="m"<%= product.size == "m"? "selected":"" %>>M</option>
                            <option value="l"<%= product.size == "l"? "selected":"" %>>L</option>
                            <option value="xl"<%= product.size == "xl"? "selected":"" %>>XL</option>
                            <option value="xxl"<%= product.size == "xxl"? "selected":"" %>>XXL</option>
                    </select>    
                </div>
                
            </div>

            <div class="two-cols">
                <div class="col">
                    <label for="price">PRECIO</label>
                    <input type="number" name="price" id="productPrice" class="inputs" placeholder="Ingrese el precio del producto" value="<%= product.price %>" min="0">        
                </div>
                <div class="col">
                    <label for="stock">STOCK</label>
                    <input type="number" name="stock" id="productStock" class="inputs" placeholder="Ingrese el stock del producto" value="<%= product.stock %>" min="0">    
                </div>
            </div>

            <div class="two-cols title">
                <div>IMAGEN ACTUAL</div>
                <div>IMAGEN NUEVA</div>
            </div>
            <div class="two-cols edit-form-field">
                <div class="col old-image">
                    <div class="new-image-container-edit-form">
                        <img src="/images/products/<%= product.image %>" alt="<%= product.alt %>">
                    </div>      
                </div>
                <div class="col new-image">
                    <div class="input-form">
                        <input type="file" name="image" id="productIMG" class="inputs">
                    </div>  
                </div>
            </div>

            <b class="aclaration-edit-form">*Si no selecciona una imagen nueva, se conservará la imagen actual.</b>

            <div class="btn">
                <button type="submit" class="btn-default">EDITAR PRODUCTO</button>
            </div>
        </form>

        <form class="session-form new-product-form" action="/products/edit/<%= product.id %>?_method=DELETE" method="POST">
            <div class="btn">
                <button type="submit" class="btn-default red">BORRAR PRODUCTO</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>