<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}); %>

<body>

    <%- include('../partials/header'); %>

    <main>
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>

        <div class="container-product-details">
            <article class="article-details">
                <img src="\images\products\<%= productData.image %>" alt="<%= productData.alt %>">
            </article>
    
            <div class="details-data">
    
                <div class="product-data">
                    <span><%= productData.name %></span>
                    <span>$ <%= toThousand(productData.price) %></span>
                </div>
                
                <form action="/products/addToCart" method="POST">
                    <input type="text" name="productId" value="<%=productData.id%>" hidden>
                    <input type="text" name="quantity" value="1" hidden>

                    <div class="buttons-checks">  
                        <label for="size_s" class="<%= productData.sizes[0].products_sizes.stock == 0? "no-stock" : ""%>">
                            <input type="radio" id="size_s" name="sizeId" value="1">
                                <span>S</span>
                            </input>
                        </label>
                        <label for="size_m" class="<%= productData.sizes[1].products_sizes.stock == 0? "no-stock" : ""%>">
                            <input type="radio" id="size_m" name="sizeId" value="2" checked>
                                <span>M</span>
                            </input>
                        </label>
                        <label for="size_l" class="<%= productData.sizes[2].products_sizes.stock == 0? "no-stock" : ""%>">
                            <input type="radio" id="size_l" name="sizeId" value="3">
                                <span>L</span>
                            </input>
                        </label>
                        <label for="size_xl" class="<%= productData.sizes[3].products_sizes.stock == 0? "no-stock" : ""%>">
                            <input type="radio" id="size_xl" name="sizeId" value="4">
                                <span>XL</span>
                            </input>
                        </label>
                        <label for="size_xxl" class="<%= productData.sizes[4].products_sizes.stock == 0? "no-stock" : ""%>">
                            <input type="radio" id="size_xxl" name="sizeId" value="5">
                                <span>XXL</span>
                            </input>
                        </label>
                    </div>
                    <% if(locals.user){ %>
                        <% if (locals.user.admin) {%> 
                            <div class="buttons-checks">  
                                <label for="">
                                    <span><%= productData.sizes[0].products_sizes.stock%></span>
                                </label>
                                <label for="">
                                    <span><%= productData.sizes[1].products_sizes.stock%></span>
                                </label>
                                <label for="">
                                    <span><%= productData.sizes[2].products_sizes.stock%></span>
                                </label>
                                <label for="">
                                    <span><%= productData.sizes[3].products_sizes.stock%></span>
                                </label>
                                <label for="">
                                    <span><%= productData.sizes[4].products_sizes.stock%></span>
                                </label>
                            </div>
                         <% } %> 
                     <% } %>    
                    
                    <div class="add-div">
                        <!-- <input type="submit" class="btn-black" value="AGREGAR AL CARRITO" onclick="generateSimpleMessage('¡Producto agregado al carrito!')"> -->
                        <button type="submit" class="btn-black">AGREGAR AL CARRITO</button>

                    </div>
                </form>
                
                <div class="separator-details"></div>
    
                <div class="description-title">
                    <p><b>Descripción del producto</b><p>
                </div>
    
    
                <div class="product-description">
    
                    <p>
                        <%= productData.description %>
                    </p>
                </div>
    
                <div class="separator-details large"></div>

                <div class="size-table-title">
                    
                    <p>¿Dudas sobre tu talle? ¡Te ayudamos!</p>
                    <div class="btn" >
                        <div class="btn-default btn-grey" onclick="toggleModal()">
                            <span><i class="fas fa-tshirt"></i> GUÍA DE TALLES</span>
                        </div>
                    </div>

                    
                </div>
    

                <div class="modal-naito size-table">
                    <div class="close-icon-modal" onclick=toggleModal()>X</div>
                    <div>
                        <h3><b>Guía de Talles</b></h3>
                        <p><b>Talle S</b>: 50 cm de ancho. 66 cm de largo.<br></p>
                        <p><b>Talle M</b>: 54 cm de ancho. 70 cm de largo.<br></p>
                        <p><b>Talle L</b>: 58 cm de ancho. 70 cm de largo.<br></p>
                        <p><b>Talle XL</b>: 63 cm de ancho. 73 cm de largo.<br></p>
                        <p><b>Talle XXL</b>: 68 cm de ancho. 76 cm de largo.<br></p>
                    </div>
                </div>

                <% if(locals.user){ %>
                   <% if (locals.user.admin) {%> 
                    <div class="add-div">
                        <a href="/products/edit/<%= productData.id %>"><button class="btn-default"><b>EDITAR</b></button></a>
                    </div>
                    <% } %> 
                <% } %>      
            </div>  
        </div>



    </main>
    <%- include('../partials/footer'); %>
</body>
</html>