<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}); %>

<body>

    <%- include('../partials/header'); %>

    <main>
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>

        <div class="container-product-details">
            <article class="article-details">
                <img src="\images\products\<%= productData.image %>" alt="<%= productData.alt %>">
            </article>
    
            <div class="details-data">
    
                <div class="product-data">
                    <strong>
                        <p><%= productData.name %></p>
                        <p>$ <%= toThousand(productData.price) %></p>
                    </strong>
                </div>
    
                <div class="buttons-checks">  
                    <label for="size_s">
                        <input type="radio" id="size_s" name="size_toggle">
                            <span>S</span>
                        </input>
                    </label>
                    <label for="size_m">
                        <input type="radio" id="size_m" name="size_toggle" checked>
                            <span>M</span>
                        </input>
                    </label>
                    <label for="size_l">
                        <input type="radio" id="size_l" name="size_toggle">
                            <span>L</span>
                        </input>
                    </label>
                    <label for="size_xl">
                        <input type="radio" id="size_xl" name="size_toggle">
                            <span>XL</span>
                        </input>
                    </label>
                    <label for="size_xxl">
                        <input type="radio" id="size_xxl" name="size_toggle">
                            <span>XXL</span>
                        </input>
                    </label>
                </div>
    
                <div class="add-div">
                    <input type="submit" class="btn-black" value="AGREGAR AL CARRITO" onclick="generateMessage('¡Producto agregado con éxito!', 'El producto ha sido agregado correctamente. Ve al carrito si quieres ver los productos ya añadidos')">
                </div>
    
    
                <div class="description-title">
                    <p><b>Descripción del producto</b><p>
                </div>
    
    
                <div class="product-description">
    
                    <p>
                        <%= productData.description %>
                    </p>
                </div>
    
                <div class="size-table-title description-title" onclick="toggleModal()">
                    <span><p>GUÍA DE TALLES<p></span>
                </div>
    

                <div class="modal-naito">
                    <div class="close-icon-modal" onclick=toggleModal()>X</div>
                    <div>
                        <b>Talle S</b>: 50 cm de ancho. 66 cm de largo.<br>
                        <b>Talle M</b>: 54 cm de ancho. 70 cm de largo.<br>
                        <b>Talle L</b>: 58 cm de ancho. 70 cm de largo.<br>
                        <b>Talle XL</b>: 63 cm de ancho. 73 cm de largo.<br>
                        <b>Talle XXL</b>: 68 cm de ancho. 76 cm de largo.<br>
                    </div>
                </div>

                <% if(locals.user){ %>
                   <% if (locals.user.admin) {%> 
                    <div class="add-div">
                        <a href="/products/edit/<%= productData.id %>"><button class="btn-default"><strong>EDITAR</strong></button></a>
                    </div>
                    <% } %> 
                <% } %>      
            </div>  
        </div>



    </main>
    <%- include('../partials/footer'); %>
</body>
</html>