<article class="product">
    <a href="products/details/<%= id %>" class="link-unformatted">
        <img src="/images/products/<%= image %>" alt="<%= alt %>">
        <div class="product-details">
            <div class="product-name"> <%= name %></div>
            <div class="product-price">$<%= price %></div>
        </div>
    </a>
</article>
