<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Perfil"}); %>
<body>
    
    <%- include('../partials/header'); %>

    <main class="main-profile">
        <p class="section-title">Editando Contrase単a</p>
        <div class="profile-container">
            <figure class="profile-pic-container">
                <% if(locals.user.image) { %> 
                    <img src="/images/users/<%= locals.user.image %>" alt="<%= locals.user.firstName %>">
                <% } else { %>
                    <img src="/images/users/unnamed.jpg" alt="annon pic">
                <% } %>
            </figure>

            <div class="user-details-in-profile-edit">
                <form action="/users/changePass?_method=PUT" method="POST">
                    <p style="display: grid; grid-template-columns: auto 55%;">
                        <b>Contrase単a anterior:</b>
                        <input type="password" name= "oldPass">
                    </p>
                    <p style="display: grid; grid-template-columns: auto 55%;">
                        <b>Nueva contrase単a:</b>
                        <input type="password" name= "newPass"> 
                    </p>
                    <p style="display: grid; grid-template-columns: auto 55%;">
                        <b>Repetir contrase単a:</b>
                        <input type="password" name= "confirmNewPass"> 
                    </p>
                    <div class="btn">
                        <button type="" class="btn-default">CONFIRMAR</button>
                    </div>
                </form>
                    
            </div>
        </div>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>