<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Perfil"}); %>
<body>
    
    <%- include('../partials/header'); %>

    <main class="main-profile">
        
        <p class="section-title">Perfil de Usuario</p>
        <div class="profile-container">
            <figure class="profile-pic-container">
                <% if(locals.user.image) { %> 
                <img src="/images/users/<%= locals.user.image %>" alt="<%= locals.user.firstName %>">
                <% } else { %>
                <img src="/images/users/unnamed.jpg" alt="annon pic">
                <% } %> 
            </figure>
            <div class="user-details-in-profile">
                <p><b>Nombre:</b> <%= locals.user.firstName %> <%= locals.user.lastName %> </p>
                <p><b>Email:</b> <%= locals.user.email %> </p>
                <p><b>Provincia:</b> <%= locals.user.province? locals.user.province : "Sin especificar"%> </p>
                <p><b>Localidad:</b> <%= locals.user.location? locals.user.location : "Sin especificar"%> </p>
                <p><b>Edad: -En construcción- </b><%= locals.user.birthday? locals.user.birthday : "Sin especificar"%></p>
                <% let y = new Date %>
                <p><b>Genero: </b> <%= locals.user.gender? locals.user.gender : "Sin especificar"%></p>
                <p><b>Registrado el: -En construcción- </b> <%= (y.getMonth() + 1) + " del " +  (y.getYear() + 1900)  %> </p>
                <div class="btn">
                    <a href="/users/profile/edit"><button class="btn-default">EDITAR INFO.</button></a>
                </div>
            </div>
        </div>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>