<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Perfil"}); %>
<script src="/js/validators/profileEditValidation.js"></script>
<body>
    
    <%- include('../partials/header'); %>

    <main class="main-profile">
        <p class="section-title">Editando Perfil</p>
        <div class="profile-container">
            <figure class="profile-pic-container">
                <% if(locals.user.image) { %> 
                    <img src="/images/users/<%= locals.user.image %>" alt="<%= locals.user.firstName %>">
                <% } else { %>
                    <img src="/images/users/unnamed.jpg" alt="annon pic">
                <% } %>
            </figure>

            <div class="user-details-in-profile-edit">
                <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" id="profileEdit">
                    <p class="edit-field-profile">
                        <b>Nombre:</b>
                        <input type="text" name= "firstName" id="firstName" value="<%= locals.user.firstName %>">
                        <span class="span-warning-msg"></span>
                    </p>
                    <p class="edit-field-profile">
                        <b>Apellido:</b>
                        <input type="text" name= "lastName" id="lastName" value="<%= locals.user.lastName %>"> 
                        <span class="span-warning-msg"></span>
                    </p>
                    <p class="edit-field-profile">
                        <b>Email:</b>
                        <input type="text" name= "email" id="email" value="<%= locals.user.email %>"> 
                        <span class="span-warning-msg"></span>
                    </p>
                    <p class="edit-field-profile">
                        <b>Provincia:</b>
                        <input type="text" name= "province" value="<%= locals.user.province? locals.user.province : "" %>"> 
                    </p>
                    <p class="edit-field-profile">
                        <b>Localidad:</b>
                        <input type="text" name= "location" value="<%= locals.user.location? locals.user.location : "" %>"> 
                    </p>
                    <p class="edit-field-profile">
                        <b>Fecha de Nac:</b>
                        <input type="date" name= "birthday" value="<%= locals.user.birthday? locals.user.birthday : "" %>">
                    </p>
                    <p class="edit-field-profile">
                        <b>Genero: </b>
                        <select name="gender" id="">
                            <option value="male" <%= locals.user.gender == "male"? "selected" : "" %>>Hombre</option>
                            <option value="female" <%= locals.user.gender == "female"? "selected" : "" %>>Mujer</option>
                            <option value="unicorn" <%= locals.user.gender == "unicorn"? "selected" : "" %>>Unicornio</option>
                            <option value="undefined" <%= locals.user.gender  == "undefined" || undefined? "selected" : "" %>>Sin especificar</option>
                        </select>
                    </p>
                    
                    <p class="edit-field-profile">
                        <b>Imagen: </b>
                        <input type="file" name="image" id="userIMG" class="inputs">
                        <span class="span-warning-msg"></span>
                    </p>
                    
                    <b class="note-profile-edit">*Si no selecciona una imagen nueva, se conservará la imagen actual.</b>

                    <div class="btn" style="margin-top: 1rem;">
                        <button type="submit" class="btn-default" style="width: 10rem;">CONFIRMAR</button>
                    </div>
                </form>


                <div class="text-link-form in-pass">
                    <a class="no-underline" href="/users/changePass">
                      ¿Quieres la cambiar la contraseña? Click aquí.
                    </a>
                </div>

                <!--     <div class="btn">
                        <button class="btn-default"><a href="/users/changePass">CAMBIAR CONTRASEÑA</a></button>
                    </div> -->
            </div>
        </div>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>